<h1>Listing projects</h1>
 
<table>
      <tr>
              <th>Title</th>
                  <th>Text</th>
                    </tr>
                     
                      <% @projects.each do |project| %>
                              <tr>
                                        <td><%= project.title %></td>
                                              <td><%= project.description %></td>
                                                  </tr>
                                                    <% end %>
                                                </table>
